body{
    height: 100vh;
    margin: 0;
    background-color: #f6f7f8;
    font-family: sans-serif;
}

p{
    font-size: 20px;
    font-weight: 400;
}

.dNone{
    display: none;
}

.logo2sec{
    position: fixed;
    z-index: 999;
    width: 274px;
    height: 344px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.privacyMainDiv{
    margin-top: 192px;
    padding-left: 296px;
    margin-right: 64px;
    padding-bottom: 32px;
}

.legalNoticeMainDiv{
    margin-top: 192px;
    padding-left: 296px;
    margin-right: 64px;
    padding-bottom: 32px;
}