<div class="topNav">
  <div class="mobileDisplayNone">
    <p>Kanban Project Management Tool</p>
  </div>
  <div class="profilBtn">
      <div>
        <a href="help.html"><img class="profilhelp" src="./assets/menu/help.svg" alt=""></a>
      </div>
      <div class="profilPic" onclick="toggleDropdown()">
        <p class="profilText">SM</p>
      </div>      
  </div>
  <div id="dropdown" class="dropdown-content">
    <div class="dropdown-links">
      <a class="help-link-dd" href="./help.html">Help</a>
      <a class="other-link-dd" href="./legal.html">Legal Notice</a>
      <a class="other-link-dd" href="./privacy.html">Privacy Policy</a>
      <a class="other-link-dd" href="./index.html">Logout</a>
    </div>
  </div>
</div>
<div class="navSection">
  <div class="mobileDisplayNone">
    <img class="desktopLogoVector" src="./assets/img/logo2.svg" alt="logo">
  </div>
  <ul class="navLink">
    <li class="navBtn"><a class="aLink" href="./summary_user.html"><img class="vectorImgColor" src="./assets/menu/summary.svg" alt=""><span>Summary</span></a></li>
    <li class="navBtn"><a class="aLink" href="./board.html"><img class="vectorImgColor" src="./assets/menu/board.svg" alt=""><span>Board</span></a></li>
    <li class="navBtn"><a class="aLink" href="./add_task.html"><img class="vectorImgColor" src="./assets/menu/addTask.svg" alt=""><span>Add Task</span></a></li>
    <li class="navBtn"><a class="aLink" href="./contacts.html"><img class="vectorImgColor" src="./assets/menu/contacts.svg" alt=""><span>Contacts</span></a></li>
  </ul>

  <div class="mobileDisplayNone desktopPrivacy">
    <div class="priv-legal-div"><a class="priv-legal-link" href="./privacy.html"><span>Privacy Policy</span></a></div>
    <div class="priv-legal-div"><a class="priv-legal-link" href="./legal.html"><span>Legal notice</span></a></div>
  </div>

</div>


