<div class="topNav">
  <div class="mobileDisplayNone">
    <p>Kanban Project Management Tool</p>
  </div>
  <div class="profilBtn">
      <div>
        <img class="profilhelp" src="/assets/menu/help.svg" alt="">
      </div>
      <div class="profilPic">
        <p class="profilText">SM</p>
      </div>      
  </div>
</div>
<div class="navSection">
  <div class="mobileDisplayNone">
    <img class="desktopLogoVector" src="/assets/img/logo2.svg" alt="logo">
  </div>
  <ul class="navLink">
    <li class="navBtn"><img class="vectorImgColor" src="/assets/menu/board.svg" alt=""><span>Summary</span></li>
    <li class="navBtn"><img class="vectorImgColor" src="/assets/menu/board.svg" alt=""><span>Board</span></li>
    <li class="navBtn"><img class="vectorImgColor" src="/assets/menu/addTask.svg" alt=""><span>Add Task</span></li>
    <li class="navBtn"><img class="vectorImgColor" src="/assets/menu/contacts.svg" alt=""><span>Contacts</span></li>
  </ul>

  <div class="mobileDisplayNone desktopPrivacy">
    <p>Privacy Policy</p>
    <p>Legal notice</p>
  </div>
</div>

