@media (min-width: 771px) {
    .addTaskMainDiv{
        margin-top: 192px;
        padding-left: 296px;
        margin-right: 64px;
        padding-bottom: 32px;
    }
}

@media (max-width: 770px) {
    .addTaskMainDiv{
        margin-top: 192px;
        padding-left: 0px;
        margin-right: 0px;
        padding-bottom: 32px;
    }
    .priority{
        display: flex;
        flex-direction: column;
    }
    .priorityBtnContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
}
@media (max-width: 350px) {
}



