.boardCategoryCard {
  border-radius: 24px;
  padding: 4px 16px;
}

.boardTaskCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  gap: 24px;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  height: 300px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: box-shadow 0.3s ease;
  animation: bounceIn 0.5s ease-out;
}

.boardTaskCard:hover {
  background-color: #67696d38;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 128, 255, 0.5);
  cursor: pointer;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.boardCategoryCard {
  border-radius: 24px;
}

.cat1 {
  color: #fff;
  background-color: #1fd7c1;
}

.cat2 {
  color: #fff;
  background-color: #0038ff;
}

.boardCardTitle {
  font-weight: 700;
  color: #2a3647;
  display: block;
  font-size: 16px;
  margin-left: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.boardCardDescription {
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.progresBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assignetPersonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.assignetPersonCard {
  display: flex;
  gap: -8px;
}

.assignetPersonKreis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  margin-right: 2px;
}

.boardCardSubtaskContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btnDeleteEdit {
  display: flex; /* Pentru a alinia SVG-ul și textul */
  align-items: center;
  gap: 8px; /* Spațiu între SVG și text */
  color: #2a3647; /* Culoare implicită pentru text */
  cursor: pointer;
  transition: color 0.3s ease; /* Tranziție lină */
}

.btnDeleteEdit .custom-svg {
  fill: #2a3647; /* Culoare implicită SVG */
  transition: fill 0.3s ease; /* Tranziție lină */
}

.btnDeleteEdit:hover {
  color: #29abe2;
  font-weight: 700; /* Culoare la hover pentru text */
}

.btnDeleteEdit:hover .custom-svg {
  fill: #29abe2; /* Culoare la hover pentru SVG */
}

.h161 {
  font-size: 61px;
}

#taskInfoCard {
  position: fixed;
  top: 10%;
  right: -400px;
  transform: translateY(-50%);
  height: auto;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

@keyframes slideIn {
  0% {
    right: -400px;
  }
  100% {
    right: 60%;
    transform: translate(50%, -50%);
  }
}

@keyframes slideOut {
  0% {
    right: 60%;
    transform: translate(50%, -50%);
  }
  100% {
    right: -400px;
    transform: translateY(-50%);
  }
}

.showCard {
  animation: slideIn 0.5s forwards;
}

.hideCard {
  animation: slideOut 0.5s forwards;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
