.boardOverlay {
  /* width: 400px; */
  max-width: 396px;
  height: auto;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskContainer {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 40px;
  border-radius: 30px;
  gap: 24px;
  height: 80%;
}

.taskHeder {
  display: flex;
  justify-content: space-between;
}

.taskTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-height: 668px){
  .taskTitle{
    gap: 12px;
  }
  .taskTitle h1{
    font-size: 32px;
  }

  .boardOverlay{
    width: 360px;
  }

  .taskContainer{
    height: 500px;
    overflow-y: auto;
  }
  
  .taskHeder{
    padding-top: 100px;
  }
}

.direction-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
  overflow-x: auto;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: end;
}

.gap8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnBoardOk {
  display: flex;
  align-items: center;
  justify-content: end;
}

.margin0 {
  margin: 0;
}

.prioContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subtaskItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pLeft16 {
  padding-left: 16px;
}

.closeX {
  border-radius: 50%;
  padding: 4px;
}

.closeX:hover {
  background-color: #d1d1d1;
  border-radius: 50%;
  padding: 4px;
}
