.boardOverlay {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskContainer {
  background-color: #fff;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 40px;
  border-radius: 30px;
  gap: 24px;
  height: 80%;
}

.taskHeder {
  display: flex;
  justify-content: space-between;
}

.taskTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.direction-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: end;
}

.gap8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnBoardOk {
  display: flex;
  align-items: center;
  justify-content: end;
}

.margin0 {
  margin: 0;
}

.prioContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subtaskItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pLeft16 {
  padding-left: 16px;
}
