.addTaskMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 192px;
  margin-left: 296px;
  margin-right: 64px;
  margin-bottom: 32px;
  height: calc(100dvh - 224px);
  max-width: 1440px;
}

.header-logo-responsive {
  display: none;
  position: absolute;
  top: 4%;
  left: 4%;
  z-index: 999;
}

.header-logo-responsive img {
  width: 30%;
  height: auto;
}

.content-wrapper {
  display: flex;
  gap: 10px;
}

body {
  overflow: hidden;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 400px;
  height: 88vh;
  background-color: rgb(255, 255, 255);
}

.white-text {
  color: #ffffff;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 44px;
  width: 70%;
  max-width: 300px;
  background-color: rgb(42, 54, 71);
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0 10px;
}

button:hover {
  background-color: rgb(41, 171, 226);
}

.button-icon {
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/icons8.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
}

.plus-icon {
  margin-left: 2px;
  font-size: 1.2em;
  color: white;
}

.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(42, 54, 71, 0.795);
  border-style: solid;
  border-color: rgb(41,171,226);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toast.show {
  opacity: 1;
}

.toast-button {
  width: 110px;
  height: 30px;
  font-size: small;
  margin-top: 10px;
  background-color: rgb(42,54,71);
}

.right-content {
  border: none;
  width: 60%;
  height: 90vh;
  background-color: #f6f7f8;
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
}

.right-content.show {
  display: none;
}

.contact-headline {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.back-arrow {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.back-arrow:hover {
  transform: scale(1.2);
}

.blue-line {
  height: 40px;
  width: 2px;
  background-color: rgb(41, 171, 226);
}

.blue-line-responsive {
  display: none;
  height: 2px;
  width: 80px;
  background-color: rgb(41, 171, 226);
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  color: rgba(0, 0, 0, 0.397);
}

.close {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 2%;
  right: 3%;
  color: rgb(252, 248, 248);
  transition: transform 0.3s ease, color 0.3s ease;
}

.close:hover {
  transform: scale(1.5);
  color: rgb(41, 171, 226);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  padding: 20px;
  background: rgb(42, 54, 71);
}

.info-container img {
  width: 40px;
  margin: 0;
}

h2 {
  margin: 0;
  margin-top: 4px;
  font-size: 38px;
  color: white;
}

.blue-underline {
  margin: 0;
  background-color: rgb(41, 171, 226);
  width: 70px;
  height: 2px;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.form-img {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  border-radius: 50%;
  background-color: grey;
  margin-top: 10px;
}

.form-img img {
  width: 70%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 22px;
}

input {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 12px;
  width: 70%;
  outline: none;
}

.input-name {
  background-image: url("../assets/img/icons8black.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
}

.input-mail {
  background-image: url("../assets/img/email.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
}

.input-phone {
  background-image: url("../assets/img/phone.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
}

input:focus {
  border-color: rgb(41, 171, 226);
}

.button-container {
  display: flex;
  gap: 10px;
  margin-right: 6px;
}

.create {
  width: 200px;
}

.cancel {
  width: 140px;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
}

.cancel:hover {
  border-color: rgb(41, 171, 226);
  background-color: white;
}

.overlay {
  position: fixed;
  top: 46%;
  left: 100%;
  /* Start vollständig außerhalb des Bildschirms rechts */
  transform: translateX(0%) translateY(-50%);
  /* Ausgangsposition */
  width: 84%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 239, 239, 0);
  /* Originalfarbe */
  opacity: 0;
  z-index: 999;
  border-radius: 25px;
}

.overlay-content {
  display: flex;
  border-color: transparent;
  width: 100%;
  height: 94%;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exit {
  position: absolute;
  right: 6%;
  top: 10%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.exit:hover {
  cursor: pointer;
  transform: scale(1.5);
  color: rgb(41, 171, 226);
}

.overlay.show {
  animation: slideInFromRight 0.3s forwards;
  opacity: 1;
}

@keyframes slideInFromRight {
  from {
    left: 100%;
    /* Start vollständig rechts außerhalb des Bildschirms */
    transform: translateX(0%) translateY(-50%);
  }

  to {
    left: 50%;
    /* Endposition in der Mitte des Bildschirms */
    transform: translateX(-50%) translateY(-50%);
  }
}

#overlay.hide {
  animation: slideOutToRight 0.8s forwards;
  opacity: 0;
}

@keyframes slideOutToRight {
  from {
    left: 50%;
    /* Ausgangspunkt ist die Mitte des Bildschirms */
    transform: translateX(-50%) translateY(-50%);
  }

  to {
    left: 100%;
    /* Endposition vollständig rechts außerhalb des Bildschirms */
    transform: translateX(0%) translateY(-50%);
  }
}

button {
  cursor: pointer;
}

.button-icon,
.plus-icon {
  margin-left: 5px;
}

.contact-button {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 12%;
  right: 2%;
  transition: transform 0.3s ease;
}

.contact-button:hover {
  transform: scale(1.1);
}

h4 {
  font-size: 16px;
}

.initials-badge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 0.9em;
  margin-right: 10px;
  margin-left: 10px;
}

.silverline {
  height: 1px;
  width: 100%;
  background-color: lightgrey;
  margin-bottom: 20px;
}

.list {
  width: 80%;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  padding-right: 24px;
  height: 100%;
  overflow: auto;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-track {
  background-color: #9c9c9c;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(42, 54, 71, 0.836);
  border-radius: 10px;
}

ul {
  padding: 0;
}

.letter-header {
  font-size: 1em;
  margin-top: 20px;
  margin-left: 10px;
}

.contact-card {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  padding-left: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.active {
  background-color: rgb(42, 54, 71);
}

.contact-card:not(.active):hover {
  background-color: rgba(180, 182, 183, 0.09);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-card h3 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}

.active h3 {
  color: white;
}

.contact-card p {
  margin: 8px 0;
  color: rgba(90, 141, 238, 1);
  margin: 0;
  font-size: 12px;
}

.overlay-contact {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-overlay-contact {
  display: flex;
  border-color: transparent;
  width: 100%;
  height: 70%;
  border: 2px solid rgbargb(42, 54, 71);
}

.second-overlay-content {
  margin-top: 10px;
  position: relative;
  max-width: 600px;
}

.badge-and-name {
  display: flex;
  flex-direction: column;
}

.badge {
  display: flex;
  align-items: center;
}

.contact-name {
  margin-left: 10px;
  margin: 0;
}

.detail {
  margin-left: 24%;
}

.custom-badge {
  margin-top: 1%;
  margin-right: 20px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3em;
}

.detail-content h1 {
  font-size: 2em;
  margin: 0;
  font-weight: 400;
}

.sub-content p {
  color: black;
}

.edit-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  width: 100px;
}

.edit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.delete-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-button-container p,
.delete-button-container p {
  color: rgba(0, 0, 0, 0.678);
  font-size: 14px;
}

.edit-button-container:hover p,
.edit-button-container:hover img,
.delete-button-container:hover p,
.delete-button-container:hover img {
  cursor: pointer;
  color: rgb(41, 171, 226);
}

.edit-button-container:hover img,
.delete-button-container:hover img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(75%) saturate(505%) hue-rotate(176deg) brightness(95%) contrast(95%);
}

img.edit-image {
  width: 14px;
  height: 14px;
}

img.delete-image {
  width: 14px;
  height: 14px;
}

.sub-content {
  position: relative;
  margin-top: 40px;
}

.sub-content p {
  margin: 0;
  margin-bottom: 6px;
}

.sub-info {
  margin-bottom: 30px;
}

.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

p.contact-email {
  color: rgba(90, 141, 238, 1);
  font-size: 16px;
  font-weight: 500;
}

.phone {
  display: flex;
  flex-direction: column;
}

p.contact-phone {
  font-size: 16px;
  font-weight: 400;
}

.three-points {
  display: none;
  position: fixed;
  right: 3%;
  bottom: 14%;
}

.small-img {
  width: 60px;
  height: 60px;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 8px;
  right: -200px;
  bottom: 14%;
  width: 100px;
  background-color: #ffffff;
  border: 1px solid rgba(211, 211, 211, 0.411);
  border-radius: 5px;
  box-shadow: -4px 6px 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  padding: 10px;
}

.menu.visible {
  right: 10px;
}

.hidden p {
  font-weight: bold;
}

@media (max-width: 1150px) {
  .toast {
    left: 50%;
  }
}

@media (max-width: 1015px) {
  .contact-headline {
    flex-direction: column;
    margin: auto;
    align-items: baseline;
    margin-left: 0;
  }

  h1,
  h3 {
    margin: 0;
  }

  .blue-line {
    display: none;
  }

  .blue-line-responsive {
    display: block;
  }
}

@media (min-width: 921px) {
  .right-content.show {
    display: none;
  }
}

@media (max-width: 800px) {
  .right-content {
    display: none;
  }

  .overlay-contact-mobile {
    display: block;
  }

  .left-content {
    width: 90%;
    margin: auto;
    height: 82vh;
  }

  .list{
    margin-bottom: 60px;
  }

  .edit-container {
    display: none;
  }

  .back-arrow {
    display: block;
  }

  .three-points {
    display: block;
  }
}

@media (max-width: 920px) {
  .right-content.show {
    margin: auto;
    display: flex;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    width: auto;
    height: 80vh;
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    padding-left: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 800px) {}

@media (max-width: 796px) {
  .header-logo-responsive {
    display: block;
  }

  .overlay {
    height: 98%;
    width: 98%;
  }

  .overlay-content {
    position: relative;
    flex-direction: column;
    height: 90%;
  }

  .close {
    display: block;
  }

  .info-container {
    width: 100%;
    height: 40%;
    padding: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-container img {
    display: none;
  }

  .form-container {
    background-color: white;
    height: 100%;
    width: 100%;
    flex-direction: column;
    border-radius: 25px;
  }

  .position-1 {
    position: absolute;
    top: 23%;
  }

  .position-2 {
    position: absolute;
    top: 38%;
  }

  form {
    margin-top: 60px;
  }

  .cancel {
    display: none;
  }

  .contact-button {
    display: block;
  }

  .add-new-button {
    display: none;
  }
  .exit {
    display: none;
  }
}

@media (min-height: 666px){
 
  .right-content.show{
    height:77vh;
  }

  .contact-button{
    padding-bottom: 30px;
  }
}

@media (max-height: 668px){
  .list{
    height: 60vh;
  }

  .contact-button{
    padding-bottom: 30px;
  }
}

@media (max-width: 420px) {
  .contact-headline {
    gap: 2px;
  }

  h1 .detail-content {
    font-size: 20px;
  }

  .custom-badge {
    height: 70px;
    width: 70px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }
}