.addTaskMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 192px;
  margin-left: 296px;
  margin-right: 64px;
  margin-bottom: 32px;
  height: calc(100dvh - 224px);
  max-width: 1440px;
}

.header-logo-responsive {
  display: none;
  position: absolute;
  top: 4%;
  left: 4%;
  z-index: 999;
}

.header-logo-responsive img {
  width: 30%;
  height: auto;
}

.content-wrapper {
  display: flex;
  height: calc(100dvh - 224px);
  max-width: 1440px;
}

body {
  overflow: hidden;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 90vh;
  background-color: rgb(255, 255, 255);
}

.white-text {
  color: #ffffff;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 44px;
  width: 70%;
  max-width: 300px;
  background-color: rgb(42, 54, 71);
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0 10px;
}

button:hover {
  background-color: rgb(41, 171, 226);
}

.button-icon {
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/icons8.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
}

.plus-icon {
  margin-left: 2px;
  font-size: 1.2em;
  color: white;
}

.toast {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(42, 54, 71, 0.795);
  border-style: solid;
  border-color: rgb(41,171,226);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toast.show {
  opacity: 1;
}

.toast-button {
  width: 110px;
  height: 30px;
  font-size: small;
  margin-top: 10px;
  background-color: rgb(42,54,71);
}

.right-content {
  border: none;
  width: 60%;
  height: 90vh;
  background-color: #f6f7f8;
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
}

.right-content.show {
  display: none;
}

.contact-headline {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.back-arrow {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.back-arrow:hover {
  transform: scale(1.2);
}

.blue-line {
  height: 40px;
  width: 2px;
  background-color: rgb(41, 171, 226);
}

.blue-line-responsive {
  display: none;
  height: 2px;
  width: 80px;
  background-color: rgb(41, 171, 226);
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  color: rgba(0, 0, 0, 0.397);
}

.close {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 2%;
  right: 3%;
  color: rgb(252, 248, 248);
  transition: transform 0.3s ease, color 0.3s ease;
}

.close:hover {
  transform: scale(1.5);
  color: rgb(41, 171, 226);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  padding: 20px;
  background: rgb(42, 54, 71);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.info-container img {
  width: 40px;
  margin: 0;
}

h2 {
  margin: 0;
  margin-top: 4px;
  font-size: 38px;
  color: white;
}

.blue-underline {
  margin: 0;
  background-color: rgb(41, 171, 226);
  width: 70px;
  height: 2px;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.form-img {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  border-radius: 50%;
  background-color: grey;
  margin-top: 10px;
}

.form-img img {
  width: 70%;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  border: 1px solid lightgray;
  border-radius: 12px;
  padding: 12px;
  width: 70%;
  outline: none;
}

.input-name {
  background-image: url("../assets/img/icons8black.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
  margin-bottom: 22px;
}

.input-mail {
  margin-bottom: 22px;
  background-image: url("../assets/img/email.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
}

.input-phone {
  background-image: url("../assets/img/phone.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
}

.error-container{
  margin-top: 8px;
  font-size: 14px;
  color: red;
}

.error-container-edit{
  margin-top: 8px;
  font-size: 14px;
  color: red;
}

input:focus {
  border-color: rgb(41, 171, 226);
}

.button-container {
  display: flex;
  gap: 10px;
  margin-right: 6px;
}

.create {
  margin-top: 16px;
  width: 200px;
}

.cancel {
  margin-top: 16px;
  width: 140px;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
}

.cancel:hover {
  border-color: rgb(41, 171, 226);
  background-color: white;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-track {
  background-color: white;  
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(42, 54, 71, 0.61);
  border-radius: 10px;
  min-height: 10px;  
}

ul {
  padding: 0;
}

@keyframes flyInFromRight {
  0% {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0; /* Start invisible */
  }
  100% {
      transform: translateX(0); /* End at original position */
      opacity: 1; /* End fully visible */
  }
}

.fly-in {
  animation: flyInFromRight 0.5s ease forwards; /* Apply the animation */
}