@media (min-width: 771px) {
    .privacyBtn {
        position: absolute;
        z-index: 995;
        bottom: 40px;
        display: flex;
        gap: 32px;
    }

    .privacyLink {
        color: #CDCDCD;
        text-decoration: none;
    }

    .privacyLink:hover{
        color: #2A3647;
    }

    .maxWidth {
        height: 100dvh;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .loginCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding: 48px 115px;
        max-width: 652px;
        border-radius: 30px;
        background-color: #ffffff;
        border: 0px;
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.4);
    }

    .separable {
        width: 150px;
        border-bottom: 3px solid;
        color: #29ABE2;
    }

    .lh1 {
        font-size: 61px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    .loginTitle {
        height: 89px;
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .containerInputSignUpPw {
        position: relative;
        display: flex;
        align-items: center;
    }

    .loginInput {
        display: flex;
        flex-direction: column;

    }

    .loginBtnContainer {
        display: flex;
        gap: 35px;
    }

    .loginHeaderContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .loginHeader {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .loginHeaderBtn {
        display: flex;
        gap: 35px;
        padding-top: 67px;
        padding-right: 122px;
        display: flex;
        gap: 35px;
    }

    .logoImg {
        padding-top: 80px;
        padding-left: 77px;
    }

    .loginContainer {
        display: flex;
        max-width: 1440px;
    }

    .loginInputFeld {
        width: 442px;
        border-radius: 10px;
        border: 1px solid #D1D1D1;
        padding: 10px 21px;
        outline: none
    }

    .loginInputFeld:focus {
        width: 442px;
        border-radius: 10px;
        border: 1px solid #29ABE2;
        padding: 10px 21px;
        outline: none
    }

    .loginInputFeld.invalid {
        width: 442px;
        border-radius: 10px;
        border: 1px solid #ff001f;
        padding: 10px 21px;
        outline: none
    }

    .loginInputFeld:valid {
        border: 1px solid #28a745;
    }

    .desktopMobileDnone {
        display: none;
    }


    .loginBtnContainer {
        margin-top: 32px;
    }

    #checkbox {
        margin-top: 32px;
    }


    .containerInputSignUp {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }

    .inputWithImg {
        position: absolute;
        right: 24px;
    }

    button{
        cursor: pointer;
    }



}

.logoCentered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1000;
    transition: all 2s ease-in-out;
}


.invalid-login-container {
    display: none;
    color: #ff001f;
    font-size: 12px;
    margin-top: 5px;
}


.logoMoved {
    width: 120px;
}

.dNone{
    display: none;
}

#overlayId {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
}


@media (max-width: 770px) {
    #overlayId {
        background-color: #2A3647;
    }
}


.logoCentered img {
    filter: brightness(0) invert(1);
    transition: filter 2s ease-in-out;
}


.logoMoved img {
    filter: none;
}


@media (max-width: 770px) {
    .privacyBtn {
        position: absolute;
        z-index: 995;
        bottom: 40px;
    }

    .privacyLink {
        color: #CDCDCD;
        text-decoration: none;
    }

    .privacyLink:hover{
        color: #2A3647;
    }

    button{
        cursor: pointer;
    }



    .maxWidth {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        gap: 32px;
        height: 100dvh;
    }

    .loginCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 32px);
        padding: 32px 16px;

        border-radius: 30px;
        background-color: #ffffff;
        border: 0px;
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.4);
    }

    .loginContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .separable {
        width: 150px;
        border-bottom: 3px solid;
        color: #29ABE2;
    }

    .lh1 {
        font-size: 47px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    .loginTitle {
        height: 89px;
    }

    .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 32px;
    }

    .loginInput {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .loginBtnContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 21px;
    }

    .loginHeaderContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .loginHeader {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .loginHeaderBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
    }

    .logoImg {
        padding-top: 37px;
        padding-left: 38px;
    }

    #imgHeader1 {
        width: 64px;
        height: 78px;
        padding-bottom: 90px;
    }

    .loginInputFeld {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #D1D1D1;
        padding: 10px 21px;
        outline: none
    }

    .loginInputFeld:focus {
        border-radius: 10px;
        border: 1px solid #29ABE2;
        padding: 10px 21px;
        outline: none
    }

    .loginInputFeld.invalid {
        border-radius: 10px;
        border: 1px solid #ff001f;
        padding: 10px 21px;
        outline: none
    }

    .loginInputFeld:valid {
        border: 1px solid #28a745;
    }

    .btnMobileSettings {
        min-width: 180px;
    }

    .mobileDesktopDNone {
        display: none;
    }

    .containerInputSignUpPw {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .containerInputSignUp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 32px;
    }

    .inputWithImg {
        position: absolute;
        right: 45px;
    }

    #checkbox {
        margin-top: 26px;
        margin-bottom: 26px;
    }
}