
.logoCentered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    z-index: 1000;
    transition: all 2s ease-in-out;
}

.invalid-login-container {
    display: none;
    color: #ff001f;
    font-size: 12px;
    margin-top: 5px;
}

.logoMoved {
    width: 120px;
}

.dNone{
    display: none;
}

#overlayId {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
}

.logoCentered img {
    filter: brightness(0) invert(1);
    transition: filter 2s ease-in-out;
}

.logoMoved img {
    filter: none;
}

a{
    text-decoration: none;
}

